.arena{
  width: 100%;
    min-height:500px; 
    min-width:600px;
  }
  .arena-card{
    min-width:250px;
    height:300px;
  }
  .results{
    min-width:250px;
    height:200px;
  }
.weapon{
  margin: 5px;
}